<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/Api/src/main/java/com/stockly/api/StocklyApplication.java" />
        <option name="qualifiedMainClassName" value="com.stockly.api.StocklyApplication" />
        <option name="runConfigurationName" value="StocklyApplication" />
      </NativeProjectSettings>
    </option>
  </component>
</project>